/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~dhx-vault/codebase/vault.css';
@import '~dhx-spreadsheet/codebase//spreadsheet.css';
html, body {
  height: 100%;
  padding:0px; margin:0px;
  font-family: Roboto;
}

.app-box{
  padding: 20px;
}
.widget-box{
  width: 440px; height:320px;
}

.widget-box-wide{
  width: 800px;
  height: 400px;
}